.team-section {
  background-color: var(--cloud);
}

.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-item {
  width: 264px;
  overflow: hidden;
  border-radius: 0 0 4px 4px;
  background-color: var(--white);
  box-shadow:
    0 1px 6px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item > img {
  width: 264px;
  height: 260px;
  object-fit: cover;
}

.team-box {
  padding: 32px 0;
}

.team-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.team-role {
  margin-bottom: 8px;
  text-align: center;
  color: var(--slate);
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}
